<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
           
                <figure>
                    <a href="#">
                        <img class="logo" src="http://localhost:3000/imagenes/10.jpg" alt="Logo de Slee Dw">
                    </a>
                </figure> 

         
                       
        </div>
        <div class="box">
            <h2>NUESTROS SERVICIOS</h2>
            <P>Educación para todos</P>
            <P>Nuestro interes es educar a sus hijos</P>
            <P>Zonas recreacionales</P>
           
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>  
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Escuela High City Shool</b> - Todos Los Derechos Reservados.</small>
        <h6>Términos y condiciones del sitio - Política de privacidad y tratamiento de los datos personales - Formulario de reversión de pagos
            Derecho de retracto y desistimiento, según Resolución 1209 del 5/25/2015 de la UAEAC.
            2016 © 
            
            CrucerosOnline - 6344 NW AVE DORAL, FL 33178 - 01 8000 911 911</h6>
    </div>
    

</footer>